body {
  background: #141414;
  color: #ffffff;
}

/* .movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
} */

/* .movie-app {
  display: flex;
  flex-wrap: wrap;
} */
.movie-container {
  display: flex;
  flex-wrap: wrap;
}
